.song-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-name-container {
  display: flex;
}

.name-genre-container {
  display: flex;
  flex-direction: column;
}

.song-image {
  width: 200px;
  height: 150px;
}

.delete-duration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
